###############################################################
# Basic flags
###############################################################

wss.url = https://staging.whitesourcesoftware.com/agent
apiKey = a18b64c5086549649e446c723ca256e54baba576ab4a4a9d8abe65051365b8b6

productName = C282408
projectName = C282408

###############################################################
# Test flags
###############################################################
resolveAllDependencies = false
sbt.resolveDependencies = true
ignoreSourceFiles = true
sbt.runPreStep = true

includes = **/*.java **/*.jar **/*.tgz
